<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Info</title>
      </head>
    <body>
        <div class="container jumbotron mt-5">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12 mb-5">
                            <h3>Argumentos de entrada: <%= info.inputArguments %></h3>
                            <br>
                            <h3>Cantidad de procesadores: <%= info.cpus %></h3>
                            <br>
                            <h3>Nombre de la plataforma: <%= info.platformName %></h3>
                            <br>
                            <h3>Versión de node.js: <%= info.nodeJsVersion %></h3>
                            <br>
                            <h3>Memoria total reservada: <%= info.reservedTotalMemory %></h3>
                            <br>
                            <h3>Path de ejecución: <%= info.executionPath %></h3>
                            <br>
                            <h3>Process id: <%= info.processId %></h3>
                            <br>
                            <h3>Carpeta del proyecto: <%= info.projectFolder %></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>